.gallery__grid {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-block-start: var(--spacing-md);
}

.gallery__paragraph-text > a {
  color: #0640f1;
  text-decoration: underline;
}
