.blog-item {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
  margin-block-end: var(--spacing-xl);
}

.blog-item:nth-child(odd) {
  padding-inline-end: 0;
}

.blog-item:nth-child(even) {
  padding-inline-start: 0;
}

.blog-item a {
  align-self: flex-end;
  padding: 0.5rem 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
}

.blog-item--image-wrapper {
  /*max-height: 300px;*/ /* TODO: REINTEGRATE after pics with the perfect dimension are ontained from Francis */
  height: 300px; /*TODO: REMOVE after pics with the perfect dimension are ontained from Francis*/
  background-color: darkgray;
  overflow: hidden;
}

.blog-item--image {
  transition: transform 0.5s, filter 0.5s ease-in-out;
  object-fit: cover;
}

.blog-item--image:hover {
  transform: scale(1.1);
  filter: sepia(70%);
}

.blog-item--text-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1;
  isolation: isolate;
  border: 2px solid var(--carnaby-tan-color);
  border-block-end: 8px solid var(--carnaby-tan-color);
  padding: var(--spacing-md);
  width: 92%;
  margin-block-start: -3rem;
}

.blog-item--header-category-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.blog-item--text-button-wrapper {
  display: flex;
  flex-direction: column;
}

.blog-item--heading {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.blog-item--category {
  color: var(--carnaby-tan-color);
  padding-block-end: var(--spacing-sm);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

.blog-item--text {
  margin-block-end: var(--spacing-md);
  margin-block-start: var(--spacing-sm);
}

/* -------------------
STORY CATEGORY STYLES
-------------------- */

.blog-item--text-button-wrapper-story > a {
  border-color: var(--carnaby-tan-color);
  color: var(--carnaby-tan-color);
}

.blog-item--text-button-wrapper-story > a:hover {
  color: #fff;
}

.blog-item--text-button-wrapper-story > a::before {
  background-color: var(--carnaby-tan-color);
}

/* -------------------
NEWS CATEGORY STYLES
-------------------- */

.blog-item--text-wrapper-news {
  border: 2px solid var(--carrot-orange-color);
  border-block-end: 8px solid var(--carrot-orange-color);
}

.blog-item--category-news {
  color: var(--carrot-orange-color);
}

.blog-item--category > a::before :not(.blog-item--category-news > a::before) {
  /* color: var(--carnaby-tan-color); */
  background-color: var(--carnaby-tan-color);
}

/* ----------------
  MEDIA QUERRIES
----------------- */

@media only screen and (min-width: 62em) {
  .blog-item {
    flex-basis: 50%;
    margin-block-end: 0;
  }

  .blog-item:nth-child(odd) {
    padding-inline-end: var(--spacing-lg);
    margin-block-start: var(--spacing-xl);
  }

  .blog-item:nth-child(even) {
    padding-inline-start: var(--spacing-lg);
    margin-block-end: var(--spacing-xl);
  }
}
