.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding-inline: 1rem;
}

/* Center the hero content verticaly and horizontally */
.hero--content {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 5%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
}

.hero--content h1,
.hero--content p {
  color: var(--carrot-orange-color);
}

.hero--content h1 {
  line-height: 1;
}

.hero--content h1 {
  font-size: clamp(var(--font-size-xs), var(--font-size-xs) + 7vw, var(--font-size-xl));
}

.hero--content p {
  font-size: clamp(1.25rem, 0.92rem + 1.67vw, 2rem);
}

/* Center the hero content verticaly and horizontally */

.hero--content-center {
  inset-inline-start: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
}

.hero--content-center h1 {
  text-align: center;
}

.hero--content a {
  margin-block-start: var(--spacing-lg);
}

/* ----------------
  MEDIA QUERRIES
----------------- */

@media only screen and (min-width: 62em) {
  .hero--content {
    max-width: 50%;
    inset-inline-start: 10%;
  }

  .hero--content-center {
    inset-inline-start: 50%;
  }
}
