.contact--textarea-wrapper,
.contact--input-wrapper {
  /* flex-direction: column; */
  padding-block: var(--spacing-xs);
}

.contact--form-info-text-wrapper a {
  color: #0640f1;
  text-decoration: underline;
}

.contact--form-submit-button {
  margin-block-start: var(--spacing-sm);
}

.contact--input,
.contact--text-area {
  border: none;
  border-radius: 0;
  width: 100%;
  padding: var(--spacing-xs);
  background-color: rgba(255, 254, 253, 0.55);
  border: 1px solid rgba(67, 67, 66, 0.55);
}

.contact--input:focus,
.contact--text-area:focus {
  border-bottom: 4px solid var(--carrot-orange-color);
}

.contact--submit-button {
  background-color: var(--color-dark);
  color: var(--carrot-orange-color);
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-extra-black);
  padding: 0.8rem var(--spacing-md);
  margin-block-start: var(--spacing-sm);
  cursor: pointer;
  width: 100%;
}

.contact--submit-button:hover,
.contact--submit-button:focus {
  background-color: var(--carrot-orange-color);
  color: var(--color-dark);
}

.contact--hidden-field {
  display: none;
}

/* ----------------
  MEDIA QUERRIES
----------------- */

@media only screen and (min-width: 62em) {
  .contact--textarea-wrapper,
  .contact--input-wrapper {
    max-width: 70%;
  }

  .contact--submit-button {
    width: 30%;
  }
}
