.activities__container {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing-lg);
}

.activities__banner-wrapper {
  border: 0.1px solid var(--carnaby-tan-color);
  border-block-end: 0px;
  -moz-box-shadow: -1px 0px 9px -3px var(--carnaby-tan-color);
  -webkit-box-shadow: -1px 0px 9px -3px var(--carnaby-tan-color);
  box-shadow: -1px 0px 9px -3px var(--carnaby-tan-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  overflow: hidden;
}

.activities__banner-wrapper > p {
  color: #fff;
  font-family: 'League Gothic', sans-serif;
  font-weight: var(--font-weight-extra-bold);
  font-size: clamp(4rem, 3.56rem + 2.22vw, var(--font-size-xl));
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  max-width: 250px;
}

.activities__text-button-wrapper {
  -moz-box-shadow: 0px 10px 21px -12px var(--carnaby-tan-color);
  -webkit-box-shadow: 0px 10px 21px -12px var(--carnaby-tan-color);
  box-shadow: 0px 10px 21px -12px var(--carnaby-tan-color);
  border: 0.1px solid var(--carnaby-tan-color);

  padding: var(--spacing-md);
  border-block-start: 0px;
}

.activities__text-large {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.activities__text-button-wrapper a {
  margin: auto;
}

.activities__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-block-end: var(--spacing-xs);
}

.activities__text-wrapper h3 {
  font-size: var(--font-size-sm);
}

.activities__text-wrapper p {
  margin-block-end: var(--spacing-md);
}

.activities__venue {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-block-start: 5px;
  padding-block: 2px;
  padding-inline-start: 4px;
}

.activities__venue > span > a {
  display: inline-block;
  width: 100%;
  padding-inline-end: 8px;
  padding-inline-start: 4px;
  padding-block: 5px;
  border-radius: 6px;
}

.activities__venue > span > a:hover,
.activities__venue > span > a:focus {
  color: var(--carrot-orange-color);
  background: var(--carrot-orange-color);
  color: white;
  /* box-shadow: 0px 1.5px 0px 0px var(--carrot-orange-color); */
}

.activities__venue-text-only {
  padding-inline: 8px;
  padding-block: 5px;
}

.activities__google-maps-icon {
  display: inline;
  vertical-align: bottom;
  width: 30px;
}

.activities__container:nth-of-type(1) > .activities__banner-backround-color {
  background-color: #736357;
}

.activities__container:nth-of-type(2) > .activities__banner-backround-color {
  background-color: #bf0d0d;
}

.activities__container:nth-of-type(3) > .activities__banner-backround-color {
  background-color: #004aad;
}

.activities__container:nth-of-type(4) > .activities__banner-backround-color {
  background-color: #0097b2;
}

/* ----------------
  MEDIA QUERRIES
----------------- */
@media only screen and (min-width: 40em) {
  .activities__container {
    flex-direction: row;
  }

  .activities__banner-wrapper,
  .activities__text-button-wrapper {
    flex-basis: 50%;
  }

  .activities__banner-wrapper {
    border-block-end: 1px solid var(--carnaby-tan-color);
    z-index: 1;
    margin-block-end: var(--spacing-lg);
    border-inline-end: 0px;
  }

  .activities__text-button-wrapper {
    -moz-box-shadow: 10px 6px 30px -14px var(--carnaby-tan-color);
    -webkit-box-shadow: 10px 6px 30px -14px var(--carnaby-tan-color);
    box-shadow: 10px 6px 30px -14px var(--carnaby-tan-color);
    border-block-start: 1px solid var(--carnaby-tan-color);

    margin-left: -1px;
    padding: var(--spacing-lg);
  }
}
