.coming-soon--icon-wrapper {
  display: flex;
  align-items: center;
}

.coming-soon--icon-wrapper a {
  margin-block-start: var(--spacing-sm);
}

.coming-soon--link {
  color: var(--carrot-orange-color);
  text-decoration: underline;
  margin-block-start: var(--spacing-sm) !important;
}
