/* ----------------
  HEADER STYLES 
---------------- */
header {
  background-color: rgba(0, 0, 0, 0.937);
  position: absolute;
  inset-block-start: 0rem;
  inset-inline: 0rem;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.logo-image {
  height: 100%;
}

.logo {
  margin-block: 0.6rem;
  margin-inline-start: 1rem;
}

/* ----------------
  SKIP NAV STYLES
----------------- */

.skip-to-main {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 999;

  padding: 0.5rem;
  color: #fff;
  background: #bf1722;
  border: 2px solid #fff;
  border-radius: 5px;
}

.skip-to-main:focus {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  outline-color: transparent;
  transition: top 0.1s ease-in;
}

/* ---------------------------
  NAVIGATION MENU LIST STYLES
---------------------------- */

nav {
  position: absolute;
  display: flex;
  inset-block-start: 0rem;
  inset-inline-end: 0rem;
  padding: var(--spacing-sm);
}

.nav-fixed {
  position: fixed;
}

nav ul {
  list-style: none;
}

.focus-indicator:focus {
  outline: 2px solid blue; /* Adjust the outline color and width as needed */
}

/* Hide the list on narrow viewports, if it comes after an element with
   aria-expanded set to "false". */
nav > button[aria-expanded='false'] + ul {
  visibility: hidden;
  transform: translateX(100%);
}

/* button[aria-expanded='false'] {
  position: static;
} */

nav > button {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

nav a {
  padding: 0.1rem;
}

.sub-menu > button:hover,
nav a:hover,
.sub-menu--button-arrow-up:hover::after {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 10px;
  color: var(--carrot-orange-color) !important;
}

nav [aria-current='page'],
.child-active {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 10px;
  color: var(--carrot-orange-color) !important;
}

.main-menu {
  margin: 0;
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding-inline-start: var(--spacing-md);
  padding-block-start: var(--spacing-xxl);

  background-color: #1d1c1c;
  /* color: var(--egg-shell-color); */
  box-shadow: -5px 0 11px 0 rgb(0 0 0 / 0.2); /* TODO: Remove after main styling*/
  height: 100%;
  position: fixed;
  inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
  inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
  width: 100%;
  visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .main-menu {
    transition: all 0.5s ease;
  }
}

.main-menu li a,
.main-menu li button {
  padding-inline-end: var(--spacing-md);
  color: var(--egg-shell-color);
}

.main-menu > li > a {
  font-size: var(--font-size-lg);
}

.main-menu > li:not(:first-child),
.main-menu li button {
  font-family: var(--font-family-ubuntu);
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-lg);
}

.sub-menu > ul {
  padding-inline-start: var(--spacing-xs);
  height: 148px;
  text-transform: capitalize;
  opacity: 1;
  transition: all 0.5s ease;
}

.sub-menu a {
  font-size: 1.5rem;
}

.sub-menu > button {
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  width: max-content;
}

.sub-menu--button-arrow-down::after {
  content: '';
  border-inline-start: 5px solid var(--egg-shell-color);
  border-block-end: 5px solid var(--egg-shell-color);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-inline-start: 1.5rem;
  margin-block-end: 3px;
  vertical-align: super;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.sub-menu--button-arrow-up::after {
  transform: rotate(135deg);
  margin-block-end: 0;
}

.sub-menu--button-arrow-up:hover::after,
.sub-menu--button-arrow-down:hover::after,
.child-active::after {
  border-color: var(--carrot-orange-color);
  transition: none;
}

.sub-menu > button[aria-expanded='false'] + ul {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.sub-menu ul li {
  clear: both;
  width: 100%;
  margin-block-end: var(--spacing-sm);
}

.sub-menu ul li:first-child {
  margin-block-start: 1.5rem;
}

/* ----------------
  MEDIA QUERRIES
----------------- */

@media only screen and (min-width: 62em) {
  header {
    height: 100px;
  }

  nav {
    padding: var(--spacing-md);
  }

  .logo {
    margin-block: var(--spacing-sm);
    margin-inline-start: var(--spacing-lg);
  }

  nav {
    position: static;
  }

  nav > button {
    display: none;
  }

  .main-menu {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-lg);
    padding-block-start: 0;
    position: static;
    height: auto;
    width: 100%;
    box-shadow: none;
    visibility: visible;

    background-color: inherit;
  }

  .main-menu ul li:first-child {
    margin-block-start: var(--spacing-sm);
  }

  .main-menu > li:last-child {
    padding-inline-start: 2rem;
  }

  .main-menu li a,
  .main-menu li button {
    padding-inline-end: 0;
  }

  nav li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
  }

  nav > button[aria-expanded='false'] + ul {
    visibility: visible;
    transform: none;
  }

  .sub-menu > ul {
    position: absolute;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    padding-inline: var(--spacing-sm);
    margin-inline-start: -16px;
    min-width: 5rem;
    height: 200px;
    width: max-content;
  }

  .sub-menu a {
    font-size: inherit;
  }

  .main-menu > li:not(:first-child),
  .main-menu li button {
    font-size: inherit;
    font-weight: inherit;
  }

  .main-menu > li > a {
    font-size: inherit;
  }

  .sub-menu--button-arrow-down::after {
    width: 0.8rem;
    height: 0.8rem;
    margin-inline-start: 0.9rem;
    border-inline-start: 3px solid;
    border-block-end: 3px solid;
    vertical-align: initial;
  }

  .sub-menu--button-arrow-up::after {
    vertical-align: middle;
  }
}

/* --------------------------
HAMBURGER MENU BUTTON STYLES 
--------------------------- */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 999;
}

.hamburger-menu {
  color: var(--egg-shell-color);
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 10px;
  overflow: visible;
}

.hamburger-menu.is-active .hamburger-menu-inner,
.hamburger-menu.is-active .hamburger-menu-inner::before,
.hamburger-menu.is-active .hamburger-menu-inner::after {
  background-color: var(--egg-shell-color);
}

.hamburger-menu-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.hamburger-menu-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-menu-inner,
.hamburger-menu-inner::before,
.hamburger-menu-inner::after {
  width: 30px;
  height: 3.5px;
  background-color: var(--egg-shell-color);

  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-menu-inner::before,
.hamburger-menu-inner::after {
  content: '';
  display: block;
}
.hamburger-menu-inner::before {
  top: -10px;
}
.hamburger-menu-inner::after {
  bottom: -10px;
}

@media (prefers-reduced-motion: no-preference) {
  /* 
  * Spring 
  */
  .hamburger-menu--spring .hamburger-menu-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear;
  }
  .hamburger-menu--spring .hamburger-menu-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger-menu--spring .hamburger-menu-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger-menu--spring.is-active .hamburger-menu-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
  }
  .hamburger-menu--spring.is-active .hamburger-menu-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .hamburger-menu--spring.is-active .hamburger-menu-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }
}

.hamburger-menu-label {
  font-weight: var(--font-weight-semi-bold);
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}
