.link__container {
  display: inline;
}

.link__social-media-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-inline-end: 6px;
}

.link__new-tab-icon {
  display: inline;
  vertical-align: middle;
  margin-inline-start: 2px;
  margin-block-end: 5px;
  width: 10px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 999;
}
