.page-not-found {
  height: 100vh;
  position: relative;
}

.page-not-found--content-wrapper {
  width: 100%;
  padding-inline: clamp(1rem, -1.22rem + 11.11vw, 6rem);
  margin: 0;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-not-found p {
  font-family: var(--font-family-ubuntu);
  /* font-size: clamp(var(--font-size-md), var(--font-size-xs) + 10vw, var(--font-size-lg)); */
  font-size: clamp(var(--font-size-sm), 0.47rem + 3.89vw, var(--font-size-lg));

  font-weight: var(--font-weight-extra-bold);
  margin-block-end: var(--spacing-md);
}

.page-not-found a {
  font-weight: var(--font-weight-extra-bold);
  text-decoration: underline;
  color: var(--carrot-orange-color);
}
