@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;600;700;800&display=swap');

/* Option 2 */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  /* FONTS */
  --font-family-ubuntu: 'Ubuntu', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-catmaran: 'Catamaran', sans-serif;
  --font-family-merriweather: 'Merriweather Sans', sans-serif;

  --font-size-xl: 5rem;
  --font-size-lg: 3rem;
  --font-size-md: 2rem;
  --font-size-sm: 1.25rem;
  --font-size-xs: 1rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-extra-black: 900;

  /* COLORS PALETTES */
  --carrot-orange-color: #f7941e;
  --dirt-brown-color: #8c6239;
  --pine-cone-color: #736357;
  --carnaby-tan-color: #5f2a04;
  --satin-linen-color: #f0e1d2;
  --egg-shell-color: #f2e7dd;
  --color-dark: #1d1c1c;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 5rem;
  --spacing-xxl: 6rem;
}

#root {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding-block-start: min(10vh, 10rem);
}

section,
footer {
  padding-block-end: min(10vh, 10rem);
  padding-inline: clamp(1rem, -1.22rem + 11.11vw, 6rem);
}

/* ----------------
  START - CSS reset
----------------- */

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--satin-linen-color);
  font-family: var(--font-family-open-sans);
  /* font-family: var(--font-family-merriweather); */
  font-size: max(var(--font-size-sm), 1.2vw);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: var(--font-family-ubuntu);
  /* font-family: var(--font-family-catmaran); */
  font-weight: var(--font-weight-extra-bold);
}

h1 {
  font-size: clamp(var(--font-size-xs), var(--font-size-xs) + 10vw, var(--font-size-xl));
}

h2 {
  font-size: clamp(var(--font-size-md), var(--font-size-xs) + 10vw, var(--font-size-lg));
}

p {
  font-size: max(var(--font-size-sm), 1.2vw);
}

a {
  color: inherit;
  text-decoration: none;
}
/* ----------------
  END - CSS reset
----------------- */
