.image-text-container {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  width: 100%;
}

.text-wrapper h3 {
  font-size: clamp(var(--font-size-md), var(--font-size-xs) + 10vw, var(--font-size-lg));
  display: block;
}

.text-wrapper p {
  padding-block-end: var(--spacing-sm);
}

.image-wrapper {
  padding-block-end: var(--spacing-md);
}

.image-wrapper img {
  margin: auto;
}

/* ----------------
  MEDIA QUERRIES
----------------- */

@media only screen and (min-width: 62em) {
  .image-text-container {
    flex-direction: row;
  }

  .text-wrapper {
    width: 70%;
  }

  .image-wrapper {
    padding-block-end: 0;
  }
}
